#mapa { background: #020617; }

/* Efecto Modo Oscuro para el mapa */
.leaflet-tile {
    filter: brightness(0.4) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) !important;
}

/* Scrollbar minimalista */
.custom-scroll::-webkit-scrollbar { width: 4px; }
.custom-scroll::-webkit-scrollbar-thumb { background: #1e293b; border-radius: 10px; }